@model Project2.ViewModels.RegisterModel

<div class="modal fade" id="AddUserModal" tabindex="-1" role="dialog" aria-labelledby="AddUserModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form class="AddUser  p-4 justify-content-center align-items-center">
                <div class="modal-header">
                    <h5 class="modal-title" id="AddUserModalLabel">Adding a new user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-text">
                                <i class="bi bi-envelope-at-fill"></i>
                            </span>
                            <input type="email" class="form-control userName" placeholder="exemple@mail.com" asp-for="Email" minlength="3" maxlength="20" required>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-text">
                                <i class="bi bi-key-fill"></i>
                            </span>
                            <input type="password" class="form-control password userPassword" placeholder="Password" asp-for="Password" minlength="8" maxlength="20" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-text">
                                <i class="bi bi-check"></i>
                            </span>
                            <input type="password" class="form-control confirm-password userConfirmPassword" placeholder="Confirm password" asp-for="ConfirmPassword" minlength="8" maxlength="20" required>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">
                            Register <i class="bi bi-person-plus"></i>
                        </button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            Back <i class="bi bi-arrow-return-left"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
